.forminput {
    width: 200px; /* 入力フィールドの幅を200pxに設定 */
    padding: 10px; /* 内側の余白 */
    margin-bottom: 15px; /* 下の余白 */
    border: 1px solid #ccc; /* 枠線 */
    border-radius: 4px; /* 角を丸くする */
}

.formselect {
    width: 210px; /* ドロップダウンの幅を210pxに設定 */
    padding: 10px; /* 内側の余白 */
    margin-bottom: 15px; /* 下の余白 */
    border: 1px solid #ccc; /* 枠線 */
    border-radius: 4px; /* 角を丸くする */
}

.formbutton {
    width: 90%; /* ボタンの幅を100%に */
    padding: 10px; /* 内側の余白 */
    background-color: #007bff; /* ボタンの背景色 */
    color: white; /* ボタンの文字色 */
    border: none; /* 枠線をなしに */
    border-radius: 4px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインタに */
}
.formbutton:hover {
    background-color: #0056b3; /* ホバー時の背景色 */
}

.nameContainer {
    display: flex; /* フレックスボックスを使用 */
    justify-content: space-between; /* 横並びに配置 */
    margin-bottom: 15px; /* 下の余白 */
}

.nameField {
    width: 48%; /* 各入力フィールドの幅を48%に設定 */
    padding: 10px; /* 内側の余白 */
    border: 1px solid #ccc; /* 枠線 */
    border-radius: 4px; /* 角を丸くする */
}

.formContainer {
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 縦方向に配置 */
    align-items: center; /* 中央揃え */
    justify-content: center; /* 垂直方向に中央揃え */
    height: 100%; /* 高さを100%に設定 */
}

